<a href="https://colab.research.google.com/github/rithanravikumar/PREDICTON-OF-HOUSE-PRICE-USING-ML-MODEL/blob/main/Chennai_House_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import plotly.express as px

In [2]:
df = pd.read_csv("/content/train-chennai-sale (1).csv")

In [3]:
df

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,P03834,Karapakkam,598,03-01-2011,51,1.0,1.0,2,AdjLand,No,...,ELO,No Access,RM,3.0,2.2,2.4,2.520,208767,107060,5353000
7105,P10000,Velachery,1897,08-04-2004,52,3.0,2.0,5,Family,Yes,...,NoSeWa,No Access,RH,3.6,4.5,3.3,3.920,346191,205551,10818480
7106,P09594,Velachery,1614,25-08-2006,152,2.0,1.0,4,Normal Sale,No,...,NoSeWa,Gravel,I,4.3,4.2,2.9,3.840,317354,167028,8351410
7107,P06508,Karapakkam,787,03-08-2009,40,1.0,1.0,2,Partial,Yes,...,ELO,Paved,RL,4.6,3.8,4.1,4.160,425350,119098,8507000
7108,P09794,Velachery,1896,13-07-2005,156,3.0,2.0,5,Partial,Yes,...,ELO,Paved,I,3.1,3.5,4.3,3.640,349177,79812,9976480

In [4]:
pd.set_option("display.max_columns",None)

In [5]:
df.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,15-05-1967,Commercial,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,22-12-1995,Commercial,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,09-02-1992,Commercial,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,18-03-1988,Others,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,13-10-1979,Others,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [6]:
df.isnull().sum()

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
#data cleaning

df['AREA']=df["AREA"].apply(lambda i:"Anna Nagar" if (i == "Ana Nagar" or i == "Ann Nagar") else i)
df['AREA']=df["AREA"].apply(lambda i:"Karapakkam" if (i == "Karapakam" ) else i)
df['AREA']=df["AREA"].apply(lambda i:"Adyar" if (i == "Adyr") else i)
df['AREA']=df["AREA"].apply(lambda i:"Velachery" if (i == "Velchery") else i)
df['AREA']=df["AREA"].apply(lambda i:"Chrompet" if (i == "Chrompt" or i == "Chrmpet" or i =="Chormpet") else i)
df['AREA']=df["AREA"].apply(lambda i:"KK Nagar" if (i == "KKNagar") else i)
df['AREA']=df["AREA"].apply(lambda i:"T Nagar" if (i == "TNagar") else i)
df['SALE_COND']=df["SALE_COND"].apply(lambda i:"AbNormal" if (i == "Ab Normal") else i)
df['SALE_COND']=df["SALE_COND"].apply(lambda i:"Partial" if (i == "Partiall" or i == "PartiaLl") else i)
df['SALE_COND']=df["SALE_COND"].apply(lambda i:"AdjLand" if (i == "Adj Land") else i)
df['PARK_FACIL']=df["PARK_FACIL"].apply(lambda i:"No" if (i == "Noo") else i)
df['BUILDTYPE']=df["BUILDTYPE"].apply(lambda i:"Commercial" if (i == "Comercial") else i)
df['BUILDTYPE']=df["BUILDTYPE"].apply(lambda i:"Others" if (i == "Other") else i)
df['UTILITY_AVAIL']=df["UTILITY_AVAIL"].apply(lambda i:"No sewage" if (i == "NoSewr " or i == "NoSeWa") else i)  #sewage
df['UTILITY_AVAIL']=df["UTILITY_AVAIL"].apply(lambda i:"AllPub" if (i == "All Pub") else i)
df['STREET']=df['STREET'].apply(lambda i:"Paved" if ( i == "Pavd") else i )
df['STREET']=df['STREET'].apply(lambda i:"No Access" if ( i == "NoAccess") else i )

In [9]:
df['DATE_SALE']=pd.to_datetime(df["DATE_SALE"],format="%d-%m-%Y")
df['DATE_BUILD']=pd.to_datetime(df["DATE_BUILD"],format="%d-%m-%Y")

In [10]:
df.set_index("PRT_ID",inplace=True)

In [11]:
df["PARK_FACIL"]=df["PARK_FACIL"].map({"Yes":1,"No":0})

In [12]:
df["year_date_sale"]=df["DATE_SALE"].dt.year
df["month_date_sale"]=df["DATE_SALE"].dt.month
df["day_date_sale"]=df["DATE_SALE"].dt.day
df["week_date_sale"]=df["DATE_SALE"].dt.day_of_week
df["build_age"]=2024-df["DATE_BUILD"].dt.year

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7109 entries, P03210 to P09794
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AREA             7109 non-null   object
 1   INT_SQFT         7109 non-null   int64
 2   DATE_SALE        7109 non-null   datetime64[ns]
 3   DIST_MAINROAD    7109 non-null   int64
 4   N_BEDROOM        7108 non-null   float64
 5   N_BATHROOM       7104 non-null   float64
 6   N_ROOM           7109 non-null   int64
 7   SALE_COND        7109 non-null   object
 8   PARK_FACIL       7109 non-null   int64
 9   DATE_BUILD       7109 non-null   datetime64[ns]
 10  BUILDTYPE        7109 non-null   object
 11  UTILITY_AVAIL    7109 non-null   object
 12  STREET           7109 non-null   object
 13  MZZONE           7109 non-null   object
 14  QS_ROOMS         7109 non-null   float64
 15  QS_BATHROOM      7109 non-null   float64
 16  QS_BEDROOM       7109 non-null   float64
 17  QS_OVERALL       7061 non-null   float64
 18  REG_FEE          7109 non-null   int64
 19  COMMIS           7109 non-null   int64
 20  SALES_PRICE      7109 non-null   int64
 21  year_date_sale   7109 non-null   int32
 22  month_date_sale  7109 non-null   int32
 23  day_date_sale    7109 non-null   int32
 24  week_date_sale   7109 non-null   int32
 25  build_age        7109 non-null   int32
dtypes: datetime64[ns](2), float64(6), int32(5), int64(7), object(6)
memory usage: 1.3+ MB

In [14]:
from sklearn.preprocessing import OrdinalEncoder

encode=OrdinalEncoder()

for i in df.select_dtypes(include=["object"]).columns:
  df[i]=encode.fit_transform(df[[i]])

In [15]:
df

,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,year_date_sale,month_date_sale,day_date_sale,week_date_sale,build_age
PRT_ID,,,,,,,,,,,,,,,,,,,,,,,,,,
P03210,4.0,1004,2011-05-04,131,1.0,1.0,3,0.0,1,1967-05-15,0.0,0.0,2.0,0.0,4.0,3.9,4.9,4.330,380000,144400,7600000,2011,5,4,2,57
P09411,1.0,1986,2006-12-19,26,2.0,1.0,5,0.0,0,1995-12-22,0.0,0.0,0.0,3.0,4.9,4.2,2.5,3.765,760122,304049,21717770,2006,12,19,1,29
P01812,0.0,909,2012-02-04,70,1.0,1.0,3,0.0,1,1992-02-09,0.0,1.0,0.0,4.0,4.1,3.8,2.2,3.090,421094,92114,13159200,2012,2,4,5,32
P05346,6.0,1855,2010-03-13,14,3.0,2.0,5,2.0,0,1988-03-18,2.0,2.0,2.0,2.0,4.7,3.9,3.6,4.010,356321,77042,9630290,2010,3,13,5,36
P06210,4.0,1226,2009-10-05,84,1.0,1.0,3,0.0,1,1979-10-13,2.0,0.0,0.0,1.0,3.0,2.5,4.1,3.290,237000,74063,7406250,2009,10,5,0,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P03834,4.0,598,2011-01-03,51,1.0,1.0,2,1.0,0,1962-01-15,2.0,1.0,1.0,5.0,3.0,2.2,2.4,2.520,208767,107060,5353000,2011,1,3,0,62
P10000,6.0,1897,2004-04-08,52,3.0,2.0,5,2.0,1,1995-04-11,2.0,2.0,1.0,3.0,3.6,4.5,3.3,3.920,346191,205551,10818480,2004,4,8,3,29
P09594,6.0,1614,2006-08-25,152,2.0,1.0,4,3.0,0,1978-09-01,1.0,2.0,0.0,2.0,4.3,4.2,2.9,3.840,317354,167028,8351410,2006,8,25,4,46
P06508,4.0,787,2009-08-03,40,1.0,1.0,2,4.0,1,1977-08-11,0.0,1.0,2.0,4.0,4.6,3.8,4.1,4.160,425350,119098,8507000,2009,8,3,0,47
P09794,6.0,1896,2005-07-13,156,3.0,2.0,5,4.0,1,1961-07-24,2.0,1.0,2.0,2.0,3.1,3.5,4.3,3.640,349177,79812,9976480,2005,7,13,2,63

In [16]:
for col in df.columns:
    print(f'Unique values in column {col}: {df[col].unique()}')

Unique values in column AREA: [4. 1. 0. 6. 2. 3. 5.]
Unique values in column INT_SQFT: [1004 1986  909 ...  688 2051  598]
Unique values in column DATE_SALE: <DatetimeArray>
['2011-05-04 00:00:00', '2006-12-19 00:00:00', '2012-02-04 00:00:00',
 '2010-03-13 00:00:00', '2009-10-05 00:00:00', '2014-09-11 00:00:00',
 '2007-04-05 00:00:00', '2006-03-13 00:00:00', '2011-04-06 00:00:00',
 '2006-06-22 00:00:00',
 ...
 '2009-03-22 00:00:00', '2012-04-16 00:00:00', '2014-07-04 00:00:00',
 '2013-09-22 00:00:00', '2014-03-24 00:00:00', '2005-09-11 00:00:00',
 '2007-11-15 00:00:00', '2014-03-28 00:00:00', '2006-08-25 00:00:00',
 '2005-07-13 00:00:00']
Length: 2798, dtype: datetime64[ns]
Unique values in column DIST_MAINROAD: [131  26  70  14  84  36 137 176 175  74  78 143  83 157 148 134  69 168
  53  96 114 100 111 105  29  59 185 138 173  15 117  16 130  46 180  52
  86  49 113 189  28  51  19 167 126  75 154  25 187 200  32  11  23  13
  58  89  48  39 177 116  41 192  72  24  43  85 171 149  73  62 145 125
 121 129   6 103   8  50  67   0 147  71  34 178 106 144 135  38  40 142
  79  20  99 166  63  44  60  90 169  10 122 108  98  57 104  17   1 109
 164 136  97  37   9 181  93  81 193  95 196 141 158 174  94 124  82  76
 190 194  54  64  65 153 115 102  77 182 163  88  66 119  18 188 112 120
 159   4 123  31   2 156 184 170 110   7 152  27 198 183  12  45 161  30
 118  33  61 191 160 140  47 146 128  80  55 151   3  92  22  35 101 127
 199 132  21 107  56 197 186 165  87 133 195  91  68   5  42 162 155 172
 139 179 150]
Unique values in column N_BEDROOM: [ 1.  2.  3.  4. nan]
Unique values in column N_BATHROOM: [ 1.  2. nan]
Unique values in column N_ROOM: [3 5 4 2 6]
Unique values in column SALE_COND: [0. 2. 4. 1. 3.]
Unique values in column PARK_FACIL: [1 0]
Unique values in column DATE_BUILD: <DatetimeArray>
['1967-05-15 00:00:00', '1995-12-22 00:00:00', '1992-02-09 00:00:00',
 '1988-03-18 00:00:00', '1979-10-13 00:00:00', '2009-09-12 00:00:00',
 '1979-04-12 00:00:00', '1996-03-15 00:00:00', '1977-04-14 00:00:00',
 '1991-06-26 00:00:00',
 ...
 '1987-04-25 00:00:00', '1995-09-04 00:00:00', '2005-03-18 00:00:00',
 '1961-01-11 00:00:00', '2008-11-22 00:00:00', '1971-01-15 00:00:00',
 '1962-01-15 00:00:00', '1978-09-01 00:00:00', '1977-08-11 00:00:00',
 '1961-07-24 00:00:00']
Length: 5808, dtype: datetime64[ns]
Unique values in column BUILDTYPE: [0. 2. 1.]
Unique values in column UTILITY_AVAIL: [0. 1. 2.]
Unique values in column STREET: [2. 0. 1.]
Unique values in column MZZONE: [0. 3. 4. 2. 1. 5.]
Unique values in column QS_ROOMS: [4.  4.9 4.1 4.7 3.  4.5 3.6 2.4 2.9 3.1 2.2 2.1 4.8 3.8 2.3 3.5 4.6 2.8
 4.2 3.4 2.7 2.  4.3 3.9 2.6 3.3 2.5 3.7 3.2 4.4 5. ]
Unique values in column QS_BATHROOM: [3.9 4.2 3.8 2.5 2.6 2.1 4.5 3.7 3.1 3.2 3.4 2.2 4.6 4.9 2.7 4.4 5.  2.8
 3.  2.9 3.6 4.  4.3 2.  3.3 4.7 2.3 4.1 4.8 3.5 2.4]
Unique values in column QS_BEDROOM: [4.9 2.5 2.2 3.6 4.1 3.1 2.1 4.  3.3 4.5 3.7 4.8 4.7 2.9 3.4 2.8 3.8 3.
 3.2 2.  4.3 3.9 3.5 2.6 4.4 2.4 4.6 5.  2.3 2.7 4.2]
Unique values in column QS_OVERALL: [4.33  3.765 3.09  4.01  3.29  3.32  2.67  3.26  3.55  3.16  3.83  2.89
 2.26  3.19  3.66    nan 3.57  4.3   3.35  4.76  3.39  3.43  3.73  3.59
 3.74  2.29  3.17  4.18  2.755 2.11  2.605 4.58  4.2   3.27  4.19  2.98
 3.12  3.08  3.85  3.42  3.2   4.    3.34  2.825 3.46  4.07  3.68  2.95
 3.505 2.97  3.63  3.76  3.77  2.78  3.985 3.04  2.88  4.21  2.42  3.8
 2.54  3.84  2.395 3.14  2.49  3.175 2.84  4.17  3.13  3.98  3.36  3.735
 2.62  4.61  2.6   4.09  3.18  3.425 3.71  3.21  3.61  2.9   3.94  4.145
 4.26  4.16  3.5   3.22  3.99  4.12  2.475 2.28  2.725 4.03  3.07  2.81
 3.45  3.9   3.87  3.1   2.93  3.05  3.54  2.63  3.11  3.89  3.33  3.96
 3.56  4.39  3.58  3.47  3.88  4.04  3.6   4.53  3.72  2.96  3.4   3.51
 4.215 3.055 3.06  3.53  3.435 3.41  3.86  3.62  4.5   4.42  4.14  3.01
 4.24  2.53  3.535 2.665 3.49  3.52  3.25  4.465 4.66  3.7   2.495 4.13
 4.37  2.66  2.3   2.85  3.31  3.03  3.97  2.75  3.355 3.75  2.775 4.68
 3.15  3.91  2.94  3.24  4.475 3.67  3.38  4.38  4.59  3.295 3.82  4.64
 4.1   2.55  3.37  3.48  2.73  3.945 3.285 3.93  4.27  4.28  2.34  3.815
 2.79  4.035 3.44  4.325 3.95  2.785 3.02  3.64  4.22  2.82  3.755 3.78
 3.81  3.92  4.375 3.3   3.035 3.575 2.83  2.92  4.08  4.43  2.58  3.28
 3.705 3.935 3.23  4.06  4.46  4.6   2.8   2.61  2.69  2.35  2.87  3.79
 3.485 2.91  2.99  3.825 4.445 2.985 2.37  3.745 2.995 3.65  2.33  2.895
 3.69  2.52  2.51  4.02  4.54  3.255 2.595 3.615 4.34  4.05  4.35  4.41
 2.71  3.475 4.015 4.31  2.955 2.72  4.48  3.605 3.415 4.32  2.965 3.655
 4.7   2.57  4.15  3.885 2.7   2.36  2.68  2.74  3.315 4.005 2.65  4.71
 4.25  3.    3.585 3.075 3.105 2.255 3.185 4.44  2.47  4.47  3.135 4.9
 4.52  4.57  3.595 3.495 4.56  2.4   4.11  3.165 3.395 4.29  3.275 2.39
 3.875 3.555 3.855 2.44  2.64  3.095 3.915 2.5   2.345 2.615 2.76  4.125
 3.025 3.205 3.465 3.895 2.48  4.49  2.77  2.24  2.86  3.235 2.46  2.59
 3.445 2.45  2.25  4.435 3.715 2.735 4.4   4.63  3.835 3.305 2.375 4.69
 4.155 3.455 4.23  2.655 3.685 3.625 4.025 2.885 4.36  2.945 2.855 4.115
 2.09  3.795 3.045 3.645 2.975 3.775 2.21  4.85  2.795 4.135 4.78  2.635
 4.095 2.625 3.725 2.835 4.79  3.115 4.87  2.245 4.865 4.495 3.375 2.43
 4.395 3.545 4.585 4.705 4.83  4.195 3.365 2.06  3.995 3.965 3.635 3.695
 4.405 3.785 3.515 3.385 4.515 4.95  4.255 4.72  4.65  4.045 2.32  4.73
 4.075 3.145 2.715 3.565 4.655 2.525 2.565 2.31  4.165 2.925 2.41  4.085
 3.525 3.015 2.22  4.275 3.905 2.515 3.955 3.845 4.345 2.585 4.75  3.335
 2.18  2.23  4.67  2.455 4.455 2.805 3.345 4.62  4.105 3.405 4.615 4.185
 2.815 4.45  4.97  4.415 4.055 2.645 2.685 4.315 2.845 4.82  4.225 3.155
 4.205 4.51  2.865 2.765 4.605 3.065 2.545 3.265 4.425 2.56  2.745 4.065
 4.295 2.    4.55  3.975 3.675 2.915 2.2   3.005 2.385 2.38  3.665 2.535
 3.325 3.925 3.125 4.335 4.385 2.27  4.93  3.805 4.77  2.195 4.175 2.675
 4.695 2.445 4.265 4.765 2.335 2.465 4.81  2.905 3.195 3.245 4.675 4.94 ]
Unique values in column REG_FEE: [380000 760122 421094 ... 317354 425350 349177]
Unique values in column COMMIS: [144400 304049  92114 ... 167028 119098  79812]
Unique values in column SALES_PRICE: [ 7600000 21717770 13159200 ...  8351410  8507000  9976480]
Unique values in column year_date_sale: [2011 2006 2012 2010 2009 2014 2007 2008 2013 2005 2015 2004]
Unique values in column month_date_sale: [ 5 12  2  3 10  9  4  6  1 11  7  8]
Unique values in column day_date_sale: [ 4 19 13  5 11  6 22 16  1 12 25  2 23 10 18 15 26 28  9  7 24 21  3  8
 20 30 14 31 17 27 29]
Unique values in column week_date_sale: [2 1 5 0 3 6 4]
Unique values in column build_age: [57 29 32 36 45 15 28 47 33 46 52 43 68 24 49 54 38 25 30 16 44 21 23 37
 35 41 26 39 55 48 31 63 60 42 27 17 51 56 18 53 20 58 19 72 34 22 50 40
 65 14 69 62 71 64 59 66 61 67 70 75 73 74]

In [17]:
df=df.drop(['DATE_BUILD',"DATE_SALE"],axis=1)

In [18]:
df.loc[df["N_BATHROOM"].isnull(),"N_BATHROOM"]=df[df["N_BATHROOM"].isnull()].apply(lambda i: 2 if ((i["N_BEDROOM"] == 1) & (i["INT_SQFT"] >1800)) else 1,axis=1)

df.loc[df["N_BEDROOM"].isnull(),"N_BEDROOM"]=df[df["N_BEDROOM"].isnull()].apply(lambda i: 1 if ((i["N_BATHROOM"] == 1) & (i["INT_SQFT"] <1800)) else 2 ,axis=1)

In [19]:
val_col=["QS_ROOMS","QS_BATHROOM","QS_BEDROOM"]
target_col="QS_OVERALL"
def fill_null_QS_OVERALL(row):
  if pd.isnull(row[target_col]):
    return row[val_col].mean()
  else:
    return row[target_col]

df[target_col]=df.apply(fill_null_QS_OVERALL,axis=1)

In [20]:
#predicting sales price

x=df.drop("SALES_PRICE",axis=1) # except sales price, including everthing
y=df["SALES_PRICE"]

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8)

In [22]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [ ]:
from sklearn.linear_model import LinearRegression    #1
model1 = LinearRegression().fit(x_train,y_train)
y_pred=model1.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1740947527014.0059
1062415.6416480355
0.8780892397949175

In [ ]:
#2
from sklearn.ensemble import RandomForestRegressor
model2 = RandomForestRegressor().fit(x_train,y_train)
y_pred=model2.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

798491255403.071
693571.8148646273
0.944085232637505

In [ ]:
#3
from sklearn.svm import SVR
model3 = SVR().fit(x_train,y_train)
y_pred=model3.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

14476568116746.709
2916937.2177732107
-0.013729246222739855

In [23]:
#4 ---------------------------------- i have selected this model for prediction
from xgboost import XGBRegressor
model4 = XGBRegressor().fit(x_train,y_train)
y_pred=model4.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

564523106304.0
553605.8125
0.9606851935386658

In [ ]:
#5
from sklearn.gaussian_process import GaussianProcessRegressor
model5 = GaussianProcessRegressor().fit(x_train,y_train)
y_pred=model5.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

132834108131675.08
10888232.208157524
-8.301777826280437

In [ ]:
#6
from sklearn.neighbors import KNeighborsRegressor
model6 = KNeighborsRegressor().fit(x_train,y_train)
y_pred=model6.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

3512466674800.425
1447183.473628692
0.7540376858719113

In [ ]:
#7
from sklearn.linear_model import Ridge
model7 = Ridge().fit(x_train,y_train)
y_pred=model7.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1740465596769.991
1061718.77270754
0.8781229872120578

In [ ]:
#8
from sklearn.linear_model import Lasso
model8 = Lasso().fit(x_train,y_train)
y_pred=model8.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1740945677898.89
1062414.0620525526
0.8780893692801697

In [ ]:
#9
from sklearn.linear_model import ElasticNet
model9 = ElasticNet().fit(x_train,y_train)
y_pred=model9.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

2241595961013.0386
1144149.0858182875
0.8430310716208372

In [ ]:
#10
from sklearn.tree import DecisionTreeRegressor
model10 = DecisionTreeRegressor().fit(x_train,y_train)
y_pred=model10.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1404902592717.4534
888241.4741561181
0.9016209618988141

In [ ]:
#11
import lightgbm as lgb
model11 = lgb.LGBMRegressor().fit(x_train,y_train)
y_pred=model11.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

/usr/local/lib/python3.10/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001344 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1467
[LightGBM] [Info] Number of data points in the train set: 1421, number of used features: 23
[LightGBM] [Info] Start training from score 10921638.159747
442012987640.66614
493648.49191925174
0.9690478095935399

In [ ]:
#12
from sklearn.linear_model import BayesianRidge
model12 = BayesianRidge().fit(x_train,y_train)
y_pred=model12.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

3199709042750.9214
1390846.9557217858
0.7759387024685991

In [ ]:
#13
from sklearn.linear_model import TheilSenRegressor
model13 = TheilSenRegressor().fit(x_train,y_train)
y_pred=model13.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1858794025920.108
1090462.4786648084
0.8698369771355187

In [ ]:
#14
from sklearn.linear_model import HuberRegressor
model14 = HuberRegressor().fit(x_train,y_train)
y_pred=model14.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

3198818083629.895
1394417.6136307162
0.7760010923465653

In [ ]:
#15
from sklearn.kernel_ridge import KernelRidge
model15 = KernelRidge().fit(x_train,y_train)
y_pred=model15.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1716178120038.329
1050593.4313400479
0.8786670676664748

In [ ]:
#16
from sklearn.linear_model import SGDRegressor
model16 = SGDRegressor().fit(x_train,y_train)
y_pred=model16.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1.9079329087902287e+39
4.054306667890783e+19
-1.3488989972321775e+26

In [25]:
import pickle
with open("housepricepred.pkl","wb") as f:
       pickle.dump(model4,f)